app/templates/pokemon-state-machine.json
{
  "Comment": "Step function to fetch and transform pokemon",
  "StartAt": "Validate Pokemon Species Name",
  "TimeoutSeconds": 500,
  "QueryLanguage": "JSONata",
  "States": {
    "Validate Pokemon Species Name": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "GET - Pokemon Species By Name",
          "Condition": "{% $contains($states.input.name, /^[A-Za-z0-9-]+$/) %}"
        }
      ],
      "Default": "Fail"
    },
    "GET - Pokemon Species By Name": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Arguments": {
        "Method": "GET",
        "ApiEndpoint": "{% 'https://pokeapi.co/api/v2/pokemon-species/' & $states.input.name %}",
        "InvocationConfig": {
          "ConnectionArn": "${ConnectionArn}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Output": {
        "evolution_chain_url": "{% $states.result.ResponseBody.evolution_chain.url %}",
        "varieties_url": "{% $states.result.ResponseBody.varieties.pokemon.url %}"
      },
      "Assign": {
        "name": "{% $states.result.ResponseBody.name %}"
      },
      "Next": "Parallel - Glue Pokemon Together"
    },
    "Parallel - Glue Pokemon Together": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "GET - Evolution Chain",
          "States": {
            "GET - Evolution Chain": {
              "Type": "Task",
              "Resource": "arn:aws:states:::http:invoke",
              "Arguments": {
                "Method": "GET",
                "ApiEndpoint": "{% $states.input.evolution_chain_url %}",
                "InvocationConfig": {
                 "ConnectionArn": "${ConnectionArn}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "JitterStrategy": "FULL"
                }
              ],
              "Output": {
                "evolution_chain": "{% $states.result.ResponseBody %}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Map - Pokemon Varieties",
          "States": {
            "Map - Pokemon Varieties": {
              "Type": "Map",
              "Items": "{% $states.input.varieties_url %}",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "DISTRIBUTED",
                  "ExecutionType": "EXPRESS"
                },
                "StartAt": "GET - Pokemon Vareity",
                "States": {
                  "GET - Pokemon Vareity": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::http:invoke",
                    "Arguments": {
                      "Method": "GET",
                       "ApiEndpoint": "{% $states.input %}",
                      "InvocationConfig": {
                        "ConnectionArn": "${ConnectionArn}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "States.ALL"
                        ],
                        "BackoffRate": 2,
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true
                  }
                }
              },
              "End": true,
              "Label": "Map-PokemonVarieties",
              "MaxConcurrency": 1000,
              "ResultWriter": {
                "WriterConfig": {
                  "OutputType": "JSON",
                  "Transformation": "COMPACT"
                }
              }
            }
          }
        }
      ],
      "Next": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "End": true,
      "Output": {
        "evolution_chain": "{% $states.input.evolution_chain %}",
        "varieties": "{% $states.input.variety %}",
        "name": "{% $name %}"
      }
    },
    "Fail": {
      "Type": "Fail",
      "Error": "Validation Error - Pokemon Species name"
    }
  }
}