app/templates/pokemon-state-machine.json
{
  "Comment": "Step function to fetch and transform pokemon",
  "StartAt": "Validate Pokemon Species Name",
  "TimeoutSeconds": 500,
  "QueryLanguage": "JSONata",
  "States": {
    "Validate Pokemon Species Name": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "GET - Pokemon Species By Name",
          "Condition": "{% $contains($states.input.name, /^[A-Za-z0-9-]+$/) %}"
        }
      ],
      "Default": "Fail"
    },
    "GET - Pokemon Species By Name": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Arguments": {
        "Method": "GET",
        "ApiEndpoint": "{% 'https://pokeapi.co/api/v2/pokemon-species/' & $states.input.name %}",
        "InvocationConfig": {
          "ConnectionArn": "arn:aws:events:eu-north-1:606960016612:connection/step-function-connection/ee00e5c8-0702-491c-bee4-a26eaa9cc093"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Output": "{% $states.result %}",
      "Assign": {
        "response": "{% $states.result.ResponseBody %}"
      },
      "Next": "Parallel - Glue Pokemon Together"
    },
    "Parallel - Glue Pokemon Together": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "GET - Evolution Chain",
          "States": {
            "GET - Evolution Chain": {
              "Type": "Task",
              "Resource": "arn:aws:states:::http:invoke",
              "Arguments": {
                "Method": "GET",
                "ApiEndpoint": "{% $states.input.ResponseBody.evolution_chain.url %}",
                "InvocationConfig": {
                  "ConnectionArn": "arn:aws:events:eu-north-1:606960016612:connection/step-function-connection/ee00e5c8-0702-491c-bee4-a26eaa9cc093"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Map - Pokemon Varieties",
          "States": {
            "Map - Pokemon Varieties": {
              "Type": "Map",
              "Items": "{% $states.input.ResponseBody.varieties %}",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "GET - Pokemon Varieties",
                "States": {
                  "GET - Pokemon Varieties": {
                    "Type": "Pass",
                    "End": true,
                    "Output": "{% $states.input %}"
                  }
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "End": true,
      "Output": {
        "result": "{% $states.input %}",
        "pokemon-species": "{% $response %}"
      }
    },
    "Fail": {
      "Type": "Fail",
      "Error": "Validation Error - Pokemon Species name"
    }
  }
}